.App {
  margin-top: 2.3rem;
  margin-bottom:2px;
  text-align: center;
}

body {
  background: url("../src/assets/images/background-image.jpg") no-repeat center center fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  padding-bottom:2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 1024px) { 
  body {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}
